<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/p19.png" alt="">
  </div>
  <div class="headings">
    <h2>Alumni Tracking System</h2>
    <h3>For College Students</h3>
    <a href="/alumini-detail" class="btn">View Alumini</a>
  </div>
</header>


<img src="/git.jpeg">


<%- include('partials/footer'); -%>